* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
      display: flex;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
  
  .sidebar {
    width: 5rem;
    height: 100vh;
    background-color: #222831;
    position: fixed;
    transition: width 0.2s ease ;
    z-index: 1;
  }
  
  
  .sidebar-body {
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
  }
  
  .title-text {
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    display: none;
  }
  
  .sidebar:hover .title-text {
    display: block;
  }
  
  .user {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 0.3ch;
  }
  
  .user-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    text-decoration: none;
  }
  
  .user-link:hover {
    background-color: #37404F;
  }
  
  .user-link img{
    width: 3rem;
    margin: 0 1rem;
  }
  
  .user-menu {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    background-color: #393E46;
    width: 80%;
    height: 8rem;
    left: 2.5rem;
    border-radius: 0 1rem 1rem 1rem;
    border: solid 0.2rem #828282;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  
  .user-menu.active {
    visibility: visible;
    opacity: 0.95;
  }
  
  .user-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 1rem 0;
    gap: 1rem;
  }
  
  .user-menu ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
  }
  
  
  .user-menu ul li img {
    aspect-ratio: 1;
    max-width: 2rem;
    margin: 0 1rem;
  }
  
  .user-menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    transition: 0.4s;
  }
  
  .user-menu ul li:hover  a{
    color: #00ADB5;
    text-decoration: underline;
  }
  
  .sidebar-line_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .sidebar-line {
    width: 1rem;
    height: 1rem;
    background-color: #828282;
    border-radius: 0.5rem;
    transition: 0.2s;
  }
  
  
  .sidebar:hover .sidebar-line {
    width: 80%;
  }
  
  .body-item {
    width: 100%;
  }
  
  .body-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    transition: 0.4s;
  }
  
  
  .body-link:hover {
    background-color: #37404F;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .body-link img{
    width: 2rem;
    margin: 0 1.5rem;
  }
  
  .sidebar:hover {
    width: 20rem;
  }
  
  .sidebar:hover .link-text {
    display: block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
  }
  
  .sidebar:hover .logo img {
    transform: rotate(-270deg);
  }
  
  main {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #393E46;
    grid-template-areas: 
              "cm1 cm1ML"
              "cm2 cm2ML"
  ;
    margin-left: 5rem;
    padding: 1rem 4rem;
    gap: 2rem 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section {
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #00ADB5;
    border-radius: 2rem;
    box-shadow: 0.25rem 1rem 0.5rem rgba(0, 0, 0, 0.4);
  }

  .camera1 {
    grid-area: cm1;
  }

  .camera1ML {
    grid-area: cm1ML;
  }

  .camera2 {
    grid-area: cm2;
  }

  .camera2ML {
    grid-area: cm2ML;
  }

  .camera1 figure,.camera1ML figure,.camera2 figure,.camera2ML figure {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 90%;
    margin: 0;
  }

  .camera1 img, .camera1ML img, .camera2 img, .camera2ML img {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
  }
