{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    
    <title>
        {% block title %}Flask dinamixel |{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    {% block content %}{% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}