{% import 'bootstrap/wtf.html' as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet" />
</head>
<body>
    <main>
        <section class="main-page">
            <span class="main-title">TURTLEBOT.IO</span>
            <button class="start-button" onclick="loginToggle();">Start</button>
        </section>
        <section class="login">
            <h2>Log.in</h2>
            <form action="{{ url_for('auth.login')}}" method="POST" class="login-form">
                {{ wtf.quick_form(login_form) }}
            </form>
        </section>
        
        
    </main>
    <script src="{{ url_for('static', filename='scripts/login.js')}}"></script>
</body>
</html>