{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
    {{ super() }}
    {% block title %}
    {{ super() }}
        Signup
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}


<body>
    <main>
        {% block content %}
        <section class="main-page">
            <span class="main-title">TURTLEBOT.IO</span>
            <button class="start-button" onclick="loginToggle();">Start</button>
        </section>
        <section class="login">
            <h2>Log.in</h2>
            <form action="{{ url_for('auth.login')}}" method="POST" class="login-form">
                <!-- <input class="login-input" type="text" placeholder="Username" autocomplete="username" required> -->
                {{ login_form.username(class="login-input", placeholder="Username") }}
                <!-- <input class="login-input" type="password" placeholder="Password" required> -->
                {{ login_form.password(class="login-input", placeholder="Password") }}
                <div class="login-links_container">
                    <a href="">Forgot your password?</a>
                    <a class="signup-link">Signup</a>
                </div>
                <div class="login-button_container">
                     {{ login_form.submit(class="login-button") }}
                </div>
            </form>
        </section>
        
        {% endblock %}
    </main>
    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='scripts/login.js')}}"></script>
    {% endblock %}
    
</body>