{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo, delete_form, update_form) %}
    <li class="list-group-item">
        <span class="badge">{{ todo.to_dict().done }}</span>
        Descripción: {{ todo.to_dict().description }}

        {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id)) }}
        {{ wtf.quick_form(update_form, action=url_for('update', todo_id=todo.id, done=todo.to_dict().done)) }}
    </li>
{% endmacro %}

{% macro slider(id) %}
  <li class="movement-arms_container" id="arm{{ id }}">
    <span class="limb">q{{ id }}</span>
    <div class="incdec-container">
      <button class="arrow dec" id="decreaseArm{{ id }}">-</button>
      <span class="number" id="arm-n-{{ id }}">0</span>
      <button class="arrow inc" id="increaseArm{{ id }}">+</button>
    </div>
    <span class="slider"><input type="range" class="form-range" min="0" max="100" id="slider{{ id }}"/></span>
  </li>
{% endmacro %}

{% macro slider2(id) %}
  <li class="movement-arms_container" id="arm{{ id }}">
    <span class="limb">q{{ id }}</span>
    <div class="incdec-container">
      <button class="arrow dec" id="decreaseArm{{ id }}">-</button>
      <span class="number" id="arm-n-{{ id }}">0</span>
      <button class="arrow inc" id="increaseArm{{ id }}">+</button>
    </div>
    <span class="slider"><input type="range" class="form-range" min="-150" max="150" value="0" id="slider{{ id }}" /></span>
  </li>
{% endmacro %}



{% macro wheel(id) %}
  <li class="movement-arms_container" id="wheel{{ id }}">
    <span class="limb">w{{ id }}</span>
    <div class="incdec-container">
      <button class="arrow dec" id="decreaseW{{ id }}">-</button>
      <span class="number" id="wheel-n-{{ id }}">0</span>
      <button class="arrow inc" id="increaseW{{ id }}">+</button>
    </div>
    <span class="slider"><input type="range" class="form-range" min="-255" max="255" value="0" id="sliderw{{ id }}" /></span>
  </li>
{% endmacro %}


{% macro dirArmInfo(id) %}
  <div class="dirdata">
    <span class="limb">q{{ id }}</span>
    <span class="number" id="armd-n-{{ id }}">100.1</span>
  </div>
{% endmacro %}

{% macro dirWheelInfo(id) %}
  <div class="dirdata">
    <span class="limb">w{{ id }}</span>
    <span class="number" id="wheeld-n-{{ id }}">50</span>
  </div>
{% endmacro %}
